<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monitor_Service_Correios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Monitor_Service_Correios.Properties.Settings>
            <setting name="Monitor_Service_Correios_Ocomon_Chamados" serializeAs="String">
                <value>http://192.168.2.222/requisicoes/Chamados.asmx</value>
            </setting>
            <setting name="Monitor_Service_Correios_Email_Email" serializeAs="String">
                <value>http://192.168.2.222/requisicoes/Email.asmx</value>
            </setting>
        </Monitor_Service_Correios.Properties.Settings>
        <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="ServicePortBinding" />
          </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://webservice.correios.com.br:80/service/rastro"
              binding="basicHttpBinding" bindingConfiguration="ServicePortBinding"
              contract="correios.Service" name="ServicePort" />
        </client>
      </system.serviceModel>
    </applicationSettings>
  
</configuration>