<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Monitor.Properties.Settings>
            <setting name="Monitor_Email_Email" serializeAs="String">
                <value>http://192.168.2.222:8383/requisicoes/Email.asmx</value>
            </setting>
            <setting name="Monitor_Ocomon_Chamados" serializeAs="String">
                <value>http://192.168.2.222:8383/requisicoes/Chamados.asmx</value>
            </setting>
            <setting name="Monitor_Suprimentos_Suprimentos" serializeAs="String">
                <value>http://192.168.2.222:8383/requisicoes/Suprimentos.asmx</value>
            </setting>
        </Monitor.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="ServicePortBinding" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://webservice.correios.com.br:80/service/rastro"
            binding="basicHttpBinding" bindingConfiguration="ServicePortBinding"
            contract="correios.Service" name="ServicePort" />
      </client>
    </system.serviceModel>
</configuration>