<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
		  <deny roles="usuario"/>
		  <deny roles="operador"/>
		  <deny roles="tecnico"/>
		  <allow roles="administrador"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

</configuration>
