<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IsEmail" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.2.222:8484/wsEmail/sEmail.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsEmail"
                contract="wsWebmail.IsEmail" name="BasicHttpBinding_IsEmail" />
        </client>
    </system.serviceModel>
</configuration>