<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ChartImageHandler" value="storage=memory;timeout=20;url=~/tempimagefiles/;"/>
		<add key="ContingenciaAtiva" value="N"/>
	</appSettings>
	<connectionStrings>
		<add name="ConexaoMDB" connectionString="Data Source=D001SDV03\SDP03;Initial Catalog=MDB;Persist Security Info=True;User ID=usdselect;Password=1qa2ws3ed"/>
		<!--<add name="ConexaoCSFDB" connectionString="Data Source=D001PRP02;Initial Catalog=MTVAXEROX3;Persist Security Info=True;User ID=csfrelatorio;Password=1qa2ws3ed"/>-->
		<!--<add name="ConexaoCSFDB" connectionString="Data Source=S1GSIP01;Initial Catalog=baoprintbnb;Persist Security Info=True;User ID=baoprint;Password=baoprint"/>-->
    <add name="ConexaoCSFDB" connectionString="Data Source=S1SQLP01\BD01;Initial Catalog=baoprintbnb;Persist Security Info=True;User ID=baoprint;Password=baoprint1"/>
    <add name="dnaPrint" connectionString="Server=S1GSIP01;Database=baoprintbnb;User ID=baoprint;Password=baoprint"/>
	</connectionStrings>
	<system.web>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<globalization culture="pt-BR"/>
		<compilation debug="true" targetFramework="4.0">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.DataVisualization.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--<authentication mode="Windows"/-->
		<authentication mode="Forms">
			<forms name="CookieLoginCSF" loginUrl="Login.aspx" timeout="60">
				<credentials passwordFormat="Clear">
					<user name="CSFAdmin" password="123"/>
					<user name="CSFConsulta" password="123"/>
					<user name="CSFMonitor" password="123"/>
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
	</system.webServer>
</configuration>
