<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="db" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\dnaPrintDB.mdf;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="db" connectionString="Data Source=APP.s3db;Version=3;" providerName="System.Data.SQLite" />
    <add name="Context" connectionString="Data Source=APP.s3db;Version=3;" providerName="System.Data.SQLite.EF6" />
    <add name="dnaPrintDBEntities" connectionString="metadata=res://*/Context.csdl|res://*/Context.ssdl|res://*/Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\dnaPrintDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Context" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\dnaPrintDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IExecute" />
        <binding name="BasicHttpBinding_IAgente" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.csfdigital.com.br/dnaprint/Execute.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExecute" contract="dnaPrintWS.IExecute" name="BasicHttpBinding_IExecute" />
      <endpoint address="http://www.csfdigital.com.br/dnaprint/Agente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgente" contract="dnaPrintWSAgente.IAgente" name="BasicHttpBinding_IAgente" />
    </client>
    <!--<client>
      <endpoint address="http://localhost:54187/Execute.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExecute" contract="dnaPrintWS.IExecute" name="BasicHttpBinding_IExecute" />
      <endpoint address="http://localhost:54187/Agente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgente" contract="dnaPrintWSAgente.IAgente" name="BasicHttpBinding_IAgente" />
    </client>-->
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>