<!-- Web.Config Configuration File -->
<configuration>
  <connectionStrings>
    <add name="dnaPrint" connectionString="Data Source=sqlserver01.csfdigital.com.br;Initial Catalog=csfdigital;Persist Security Info=True;User Id=csfdigital;Password=cSfd1g1tal12" 
         providerName="System.Data.SqlClient"/>
    <add name="Disparos" connectionString="Data Source=sqlserver01.csfdigital.com.br;Initial Catalog=csfdigital;Persist Security Info=True;User Id=csfdigital;Password=cSfd1g1tal12" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation/>
  </system.web>
</configuration>
