<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="pecas" connectionString="Server=localhost;Database=pecas;Trusted_Connection=True;"/>-->
    <add name="pecas" connectionString="Server=192.168.2.222;Database=pecas;User Id=sa; Password=Senh@123;"/>
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
