<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSF_Correios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CSF_Correios.Properties.Settings>
            <setting name="CSF_Correios_Correios_rastro" serializeAs="String">
                <value>http://webservice.correios.com.br:80/service/rastro</value>
            </setting>
            <setting name="CSF_Correios_CorreiosPrazo_CalcPrecoPrazoWS" serializeAs="String">
                <value>http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx</value>
            </setting>
            <setting name="CSF_Correios_AtendeCliente_AtendeClienteService"
                serializeAs="String">
                <value>https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente</value>
            </setting>
        </CSF_Correios.Properties.Settings>
    </applicationSettings>
</configuration>