<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Postagens.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Postagens.Properties.Settings>
            <setting name="Postagens_correios_rastro" serializeAs="String">
                <value>http://webservice.correios.com.br:80/service/rastro</value>
            </setting>
            <setting name="Postagens_CorreiosPrazo_CalcPrecoPrazoWS" serializeAs="String">
                <value>http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx</value>
            </setting>
        </Postagens.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="ServicePortBinding" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://webservice.correios.com.br:80/service/rastro"
            binding="basicHttpBinding" bindingConfiguration="ServicePortBinding"
            contract="correios.Service" name="ServicePort" />
      </client>
    </system.serviceModel>
</configuration>